@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);


#inset-text {
    /*background-color: rgba(150, 150, 150, 0.25);*/
    /*margin: 4%;*/
    padding: 8%;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    top: 45px;
}

#inset-text a {
   color: rgb(112, 112, 112);
   text-decoration: none;
}

#inset-text a:hover {
   color: white;
}

#inset-text h1 {
   font-size: 2em;
   line-height: 2em;
   text-align: center;
}

#inset-text h3 {
   font-size: 1.25em;
   line-height: 2em;
}

#inset-text p {
   padding-bottom: 10px;
}

#inset-text li {
   /*text-align: left;*/
   list-style: disc;
   list-style-position: inside;

}

#inset-text ul {
   padding-left: 15px;
   padding-bottom: 10px;
}

.cv-section {
   padding: 15px;
   border-left: 1px solid;
   margin-left: 50px;
}

.education-section {
   /*border: 0.5px solid;*/
}

.center {
   text-align: center;
}

.indent {
   padding-left: 15px;
}



/* ------------------- Project THumbnails --------------------- */

.project-img * {
    height: 300px;
    padding-top: 8px;
    padding-right: 5px;
}


/*swap icons*/

.project-img img:last-child {
    display: none
}

.project-img:hover img:first-child {
    display: none
}

.project-img:hover img:last-child {
    display: inline-block
}
